.profile {
    display: grid;
    border: 30px;
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

.avatar img {
    width: 50px;
}

.firstName {
    font-size: 20px;
    margin: auto;
}

.lastName {
    font-size: 20px;
    margin: auto;
}